.jumbotron {
    min-height: 400px;
    padding-top: 130px;
    background-color: #2E4A62;
  }

div #title {
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: 'Notable', sans-serif;
  text-shadow: 0 0 20px #FF0000;
}